body, html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;

  background-size: cover;
}

/** Navigation bar */
.navbar {
  position: relative;
  height: 80px;
  z-index: 9999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
  border-right: 1px solid #ffffff;
}

li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 28px 16px;
}

li a:hover {
  background-color: #111111;
  cursor: pointer;
}

/** Card */
.card {
  width: 300px;
  height: 300px;
  color: gray;
  margin: auto;
  display: grid;
  place-content: center;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}